#display {
    position:relative;
    height:200px;
    width:400px;
    margin-top: 100px;
}

#mover {
    position:absolute;
}

#display_canvas{
    border:2px solid #b0c4de;
}

span.numbar {
    width:20px;
    display:inline-block;
    height:22px;
}